.root{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainContainer{
  width: 80vw;
  margin: 0 auto;
  height: auto;
  background-color: cyan;
  display: flex;
  flex-direction: column;
}

.paginate{
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid black;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: black;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: white;
        color: black;
      }
    }
  }
}